<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kysymys</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h2> <span th:text="${kysymys.kysymysteksti}">kysymys</span></h2>
        <p>Kurssi: <span th:text="${kysymys.kurssi}">kysymys</span></p>
        <p>Aihepiiri: <span th:text="${kysymys.aihe}">kysymys</span></p>
        
        <ul>
            <li th:each="vastaus: ${vastaukset}">
                <span th:text="${vastaus.vastausteksti}">vastaus</span>
                <span th:text="${vastaus.oikein}">vastaus</span>
            </li>
        </ul>
        <a th:href="${'/kysymykset'}">Kysymysten listaukseen</a>
    </body>
</html>
